body{
    height: 100vh;
    background-color: dodgerblue;
}
#grid{
    display: grid;
    row-gap: 1em;
    column-gap: 1em;
    padding: 10px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
    height: 90%;
    width: 90%;
    background-color: orange;
}

#grid > div{
    background-color: red;
}

#Schedule{
    grid-area: 1 / 1 / 4 / 2;
}

#ratingContainer{
    grid-area: 1 / 2 / 3 / 4;
}

#Ia{
    grid-area: 4 / 1 / 7 / 2;
}

#Social{
    grid-area: 1 / 4 / 5 / 5;
}

#Manage{
    grid-area: 3 / 2 / 7 / 3;
}

#Maintain{
    grid-area: 3 / 3 / 5 / 4;
}

#Grow{
    grid-area: 5 / 3 / 7 / 5;
}