
body{
    height: 100vh;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
}

.attribution{
    display: none;
}

#grid{
    display: grid;
    row-gap: 0.5em;
    column-gap: 0.5em;
    padding: 0;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    height: 90%;
    width: 90%;
    background-color: orange;
}

#grid > div{
    background-color: red;
    border-radius: 15px;
}

#Schedule{
    grid-area: 1 / 1 / 4 / 2;
}

#ratingContainer{
    grid-area: 1 / 2 / 3 / 4;
}

#Ia{
    grid-area: 4 / 1 / 7 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#Ia > img {
    height: 50%;
    width: auto;
    object-fit: contain;
}

#Social{
    grid-area: 1 / 4 / 5 / 5;
}

#Manage{
    grid-area: 3 / 2 / 7 / 3;
}

#Maintain{
    grid-area: 3 / 3 / 5 / 4;
}

#Grow{
    grid-area: 5 / 3 / 7 / 5;
}