body{
    display: flex;
    background-color: #F2EAE2;
    flex-direction: column;
}

.container{
    display: flex;
    width: 600px;
    background-color: white;
}

.desktopImage{
    max-width: 300px;
    max-height: 611px;
}

#content{
    padding: 1em;
}